<div class="max-w-7xl mx-auto py-10">
  <div class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-cols-2 px-5 sm:gap-10 gap-4">
    <div class="w-full fit relative rounded-xl cursor-pointer hover:scale-105 transition"
         *ngFor="let hero of visibleHeroes;  trackBy: trackByHeroId"
         (click)="onShowHeroDetails(hero)">
      <div class="text-center relative">
        <div class="absolute inset-0 bg-gradient-to-t from-gray-900 to-transparent"></div>
        <img [src]="hero.image.url"
             alt="{{ hero.name }}"
             class="w-full mx-auto rounded-xl sm:h-80 h-60 object-cover">
        <div class="absolute bottom-0 w-full text-white space-y-0">
          <p class="font-bold text-2xl">{{ hero.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center pb-5 pt-16">
    <button class="mx-2 px-4 py-2 bg-gray-800 text-white rounded-md hover:scale-105 transition"
            (click)="onPreviousPage()">
      Previous
    </button>
    <ng-container *ngFor="let pageNumber of getPageNumbers()">
      <button class="mx-2 px-4 py-2 bg-gray-800 rounded-md hover:scale-105 transition"
              [ngClass]="{ 'text-white font-bold': pageNumber === currentPage }"
              (click)="onPageNumberClick(pageNumber)">
        {{ pageNumber }}
      </button>

    </ng-container>
    <button class="mx-2 px-4 py-2 bg-gray-800 text-white rounded-md hover:scale-105 transition"
            (click)="onNextPage()">
      Next
    </button>
  </div>
</div>