<div class="max-w-7xl mx-auto py-10">
  <div
      class="border-t-[0.5px] border-gray-700 grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-cols-2 px-5 sm:gap-10 gap-4 pt-5">
    <div class="w-full fit relative rounded-xl cursor-pointer hover:scale-105 transition"
         *ngFor="let hero of visibleHeroes;  trackBy: trackByHeroId"
         (click)="onShowHeroDetails(hero)">
      <div class="text-center relative rounded-xl">
        <div class="absolute inset-0 bg-gradient-to-t from-[#162a4f] to-100% rounded-xl"></div>
        <div class="absolute inset-0 bg-gradient-to-b from-[#162640] to-50% rounded-xl"></div>
        <img [src]="hero.image.url"
             alt="{{ hero.name }}"
             class="w-full mx-auto rounded-xl sm:h-80 h-60 object-cover">
        <div class="absolute top-0 left-0 w-full flex justify-between items-start text-left p-2 pt-3 text-white">
          <div class="icons flex justify-start items-center space-x-1">
            <img src="/assets/vau1.svg" alt="Super Heroes" class="w-8 h-8">
            <span class="font-medium text-sm text-gray-300 w-1/2">{{ hero.biography.publisher }}</span>
          </div>
          <div class="flex-row justify-end items-end">
            <div class="flex items-center text-right justify-end">
              <span class="font-medium text-sm text-gray-300">{{ hero.powerstats.intelligence }}: </span>
              <img src="/assets/intelligence.svg" alt="Super Heroes" class="w-8 h-8">
            </div>
            <div class="flex items-center text-right justify-end">
              <span class="font-medium text-sm text-gray-300">{{ hero.powerstats.strength }}: </span>
              <img src="/assets/strength.svg" alt="Super Heroes" class="w-8 h-8">
            </div>
            <div class="flex items-center text-right justify-end">
              <span class="font-medium text-sm text-gray-300">{{ hero.powerstats.speed }}: </span>
              <img src="/assets/speed.svg" alt="Super Heroes" class="w-8 h-8">
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 w-full text-white">
          <span class="font-bold text-2xl">{{ hero.name }}</span>
          <p class="font-light text-sm text-gray-300">{{ hero.biography['full-name'] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center pb-5 pt-16">
    <button class="mx-2 px-4 py-2 bg-[#14284f] text-white rounded-md hover:scale-105 transition"
            (click)="onPreviousPage()">
      Previous
    </button>
    <ng-container *ngFor="let pageNumber of getPageNumbers()">
      <button class="mx-2 px-4 py-2 bg-[#14284f] rounded-md hover:scale-105 transition text-gray-500 pagination-buttons"
              [ngClass]="{ 'text-white font-bold': pageNumber === currentPage }"
              (click)="onPageNumberClick(pageNumber)">
        {{ pageNumber }}
      </button>
    </ng-container>
    <button class="mx-2 px-4 py-2 bg-[#14284f] text-white rounded-md hover:scale-105 transition"
            (click)="onNextPage()">
      Next
    </button>
  </div>

</div>